@import url(../css/theme.css);

:root {
  --page-width: 260mm;
  --page-height: 371mm;
  /* --page-width: 210mm;
    --page-height: 297mm; */
  --decorator-border: 2px solid var(--ah3nry-color-outline-variant);
}

html {
  --ah3nry-color-primary: var(--ah3nry-color-primary-light);
  --ah3nry-color-on-primary: var(--ah3nry-color-on-primary-light);
  --ah3nry-color-primary-container: var(--ah3nry-color-primary-container-light);
  --ah3nry-color-on-primary-container: var(--ah3nry-color-on-primary-container-light);
  --ah3nry-color-primary-fixed: var(--ah3nry-color-primary-fixed-light);
  --ah3nry-color-on-primary-fixed: var(--ah3nry-color-on-primary-fixed-light);
  --ah3nry-color-primary-fixed-dim: var(--ah3nry-color-primary-fixed-dim-light);
  --ah3nry-color-on-primary-fixed-variant: var(--ah3nry-color-on-primary-fixed-variant-light);
  --ah3nry-color-secondary: var(--ah3nry-color-secondary-light);
  --ah3nry-color-on-secondary: var(--ah3nry-color-on-secondary-light);
  --ah3nry-color-secondary-container: var(--ah3nry-color-secondary-container-light);
  --ah3nry-color-on-secondary-container: var(--ah3nry-color-on-secondary-container-light);
  --ah3nry-color-secondary-fixed: var(--ah3nry-color-secondary-fixed-light);
  --ah3nry-color-on-secondary-fixed: var(--ah3nry-color-on-secondary-fixed-light);
  --ah3nry-color-secondary-fixed-dim: var(--ah3nry-color-secondary-fixed-dim-light);
  --ah3nry-color-on-secondary-fixed-variant: var(--ah3nry-color-on-secondary-fixed-variant-light);
  --ah3nry-color-tertiary: var(--ah3nry-color-tertiary-light);
  --ah3nry-color-on-tertiary: var(--ah3nry-color-on-tertiary-light);
  --ah3nry-color-tertiary-container: var(--ah3nry-color-tertiary-container-light);
  --ah3nry-color-on-tertiary-container: var(--ah3nry-color-on-tertiary-container-light);
  --ah3nry-color-tertiary-fixed: var(--ah3nry-color-tertiary-fixed-light);
  --ah3nry-color-on-tertiary-fixed: var(--ah3nry-color-on-tertiary-fixed-light);
  --ah3nry-color-tertiary-fixed-dim: var(--ah3nry-color-tertiary-fixed-dim-light);
  --ah3nry-color-on-tertiary-fixed-variant: var(--ah3nry-color-on-tertiary-fixed-variant-light);
  --ah3nry-color-error: var(--ah3nry-color-error-light);
  --ah3nry-color-on-error: var(--ah3nry-color-on-error-light);
  --ah3nry-color-error-container: var(--ah3nry-color-error-container-light);
  --ah3nry-color-on-error-container: var(--ah3nry-color-on-error-container-light);
  --ah3nry-color-outline: var(--ah3nry-color-outline-light);
  --ah3nry-color-background: var(--ah3nry-color-background-light);
  --ah3nry-color-on-background: var(--ah3nry-color-on-background-light);
  --ah3nry-color-surface: var(--ah3nry-color-surface-light);
  --ah3nry-color-on-surface: var(--ah3nry-color-on-surface-light);
  --ah3nry-color-surface-variant: var(--ah3nry-color-surface-variant-light);
  --ah3nry-color-on-surface-variant: var(--ah3nry-color-on-surface-variant-light);
  --ah3nry-color-inverse-surface: var(--ah3nry-color-inverse-surface-light);
  --ah3nry-color-inverse-on-surface: var(--ah3nry-color-inverse-on-surface-light);
  --ah3nry-color-inverse-primary: var(--ah3nry-color-inverse-primary-light);
  --ah3nry-color-shadow: var(--ah3nry-color-shadow-light);
  --ah3nry-color-surface-tint: var(--ah3nry-color-surface-tint-light);
  --ah3nry-color-outline-variant: var(--ah3nry-color-outline-variant-light);
  --ah3nry-color-scrim: var(--ah3nry-color-scrim-light);
  --ah3nry-color-surface-container-highest: var(--ah3nry-color-surface-container-highest-light);
  --ah3nry-color-surface-container-high: var(--ah3nry-color-surface-container-high-light);
  --ah3nry-color-surface-container: var(--ah3nry-color-surface-container-light);
  --ah3nry-color-surface-container-low: var(--ah3nry-color-surface-container-low-light);
  --ah3nry-color-surface-container-lowest: var(--ah3nry-color-surface-container-lowest-light);
  --ah3nry-color-surface-bright: var(--ah3nry-color-surface-bright-light);
  --ah3nry-color-surface-dim: var(--ah3nry-color-surface-dim-light);
  --btn-bar-color: var(--ah3nry-palette-error70);

  &[data-theme='dark'] {
    --ah3nry-color-primary: var(--ah3nry-color-primary-dark);
    --ah3nry-color-on-primary: var(--ah3nry-color-on-primary-dark);
    --ah3nry-color-primary-container: var(--ah3nry-color-primary-container-dark);
    --ah3nry-color-on-primary-container: var(--ah3nry-color-on-primary-container-dark);
    --ah3nry-color-primary-fixed: var(--ah3nry-color-primary-fixed-dark);
    --ah3nry-color-on-primary-fixed: var(--ah3nry-color-on-primary-fixed-dark);
    --ah3nry-color-primary-fixed-dim: var(--ah3nry-color-primary-fixed-dim-dark);
    --ah3nry-color-on-primary-fixed-variant: var(--ah3nry-color-on-primary-fixed-variant-dark);
    --ah3nry-color-secondary: var(--ah3nry-color-secondary-dark);
    --ah3nry-color-on-secondary: var(--ah3nry-color-on-secondary-dark);
    --ah3nry-color-secondary-container: var(--ah3nry-color-secondary-container-dark);
    --ah3nry-color-on-secondary-container: var(--ah3nry-color-on-secondary-container-dark);
    --ah3nry-color-secondary-fixed: var(--ah3nry-color-secondary-fixed-dark);
    --ah3nry-color-on-secondary-fixed: var(--ah3nry-color-on-secondary-fixed-dark);
    --ah3nry-color-secondary-fixed-dim: var(--ah3nry-color-secondary-fixed-dim-dark);
    --ah3nry-color-on-secondary-fixed-variant: var(--ah3nry-color-on-secondary-fixed-variant-dark);
    --ah3nry-color-tertiary: var(--ah3nry-color-tertiary-dark);
    --ah3nry-color-on-tertiary: var(--ah3nry-color-on-tertiary-dark);
    --ah3nry-color-tertiary-container: var(--ah3nry-color-tertiary-container-dark);
    --ah3nry-color-on-tertiary-container: var(--ah3nry-color-on-tertiary-container-dark);
    --ah3nry-color-tertiary-fixed: var(--ah3nry-color-tertiary-fixed-dark);
    --ah3nry-color-on-tertiary-fixed: var(--ah3nry-color-on-tertiary-fixed-dark);
    --ah3nry-color-tertiary-fixed-dim: var(--ah3nry-color-tertiary-fixed-dim-dark);
    --ah3nry-color-on-tertiary-fixed-variant: var(--ah3nry-color-on-tertiary-fixed-variant-dark);
    --ah3nry-color-error: var(--ah3nry-color-error-dark);
    --ah3nry-color-on-error: var(--ah3nry-color-on-error-dark);
    --ah3nry-color-error-container: var(--ah3nry-color-error-container-dark);
    --ah3nry-color-on-error-container: var(--ah3nry-color-on-error-container-dark);
    --ah3nry-color-outline: var(--ah3nry-color-outline-dark);
    --ah3nry-color-background: var(--ah3nry-color-background-dark);
    --ah3nry-color-on-background: var(--ah3nry-color-on-background-dark);
    --ah3nry-color-surface: var(--ah3nry-color-surface-dark);
    --ah3nry-color-on-surface: var(--ah3nry-color-on-surface-dark);
    --ah3nry-color-surface-variant: var(--ah3nry-color-surface-variant-dark);
    --ah3nry-color-on-surface-variant: var(--ah3nry-color-on-surface-variant-dark);
    --ah3nry-color-inverse-surface: var(--ah3nry-color-inverse-surface-dark);
    --ah3nry-color-inverse-on-surface: var(--ah3nry-color-inverse-on-surface-dark);
    --ah3nry-color-inverse-primary: var(--ah3nry-color-inverse-primary-dark);
    --ah3nry-color-shadow: var(--ah3nry-color-shadow-dark);
    --ah3nry-color-surface-tint: var(--ah3nry-color-surface-tint-dark);
    --ah3nry-color-outline-variant: var(--ah3nry-color-outline-variant-dark);
    --ah3nry-color-scrim: var(--ah3nry-color-scrim-dark);
    --ah3nry-color-surface-container-highest: var(--ah3nry-color-surface-container-highest-dark);
    --ah3nry-color-surface-container-high: var(--ah3nry-color-surface-container-high-dark);
    --ah3nry-color-surface-container: var(--ah3nry-color-surface-container-dark);
    --ah3nry-color-surface-container-low: var(--ah3nry-color-surface-container-low-dark);
    --ah3nry-color-surface-container-lowest: var(--ah3nry-color-surface-container-lowest-dark);
    --ah3nry-color-surface-bright: var(--ah3nry-color-surface-bright-dark);
    --ah3nry-color-surface-dim: var(--ah3nry-color-surface-dim-dark);
    --btn-bar-color: var(--ah3nry-palette-primary50);
  }

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--ah3nry-spacing-2);
}

p {
  padding: var(--ah3nry-spacing-8) 0 var(--ah3nry-spacing-10);
}

ul {
  list-style-type: none;
}

i {
  font-style: italic;
}

.h2-wrapper::after {
  content: '';
  border-bottom: 3px solid var(--ah3nry-color-on-primary-container);
  width: 4ch;
  position: absolute;
}

.uppercase {
  text-transform: uppercase;
}

.strap-line {
  margin-top: var();
}

.border-bottom {
  border-bottom: var(--decorator-border);
}

.position {
  display: flex;
  justify-content: space-between;
  line-height: 1.2;
}

.position a,
.position a:visited {
  color: inherit;
}

.position span:first-child {
  flex-basis: 70%;
}

.position-description ul {
  list-style-type: initial;
  margin-left: var(--ah3nry-spacing-8);
}

.position-description li:not(:last-child),
.profile li:not(:last-child) {
  margin-bottom: var(--ah3nry-spacing-2);
}

.container {
  margin: var(--ah3nry-spacing-4) 0;
}

.on-primary-container-text,
.surface {
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(
    var(--ah3nry-motion-easing-standard-x0),
    var(--ah3nry-motion-easing-standard-y0),
    var(--ah3nry-motion-easing-standard-x1),
    var(--ah3nry-motion-easing-standard-y1)
  );
  transition-duration: var(--ah3nry-motion-duration-250);
}

.page {
  width: var(--page-width);
  height: var(--page-height);
  padding: var(--ah3nry-spacing-13);
  display: grid;
  &::after,
  &::before {
    z-index: -1;
    position: relative;
    content: '';
    bottom: -50px;
    left: -55px;
    background: #777;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
    transform: rotate(-4deg);
  }
  &::after {
    transform: rotate(2deg);
    right: -55px;
    left: auto;
  }
}

.section {
  margin-bottom: var(--ah3nry-spacing-10);
}

.page1 {
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: 0.2fr auto;
  gap: 0px 0px;
  grid-template-areas:
    'title title'
    'side-bar body';
  margin-bottom: 4rem;
}

.page2 {
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: auto;
  gap: 0px;
  grid-template-areas: 'side-bar body';
  margin-bottom: 4rem;
}

.title {
  grid-area: title;
  border-bottom: var(--decorator-border);
}

.progress {
  height: 3px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform-origin: 0 50%;
  animation-timeline: scroll(root);
  animation-name: progress;
  animation-duration: 1ms;
  animation-timing-function: linear;
}

@keyframes progress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.side-bar {
  grid-area: side-bar;
  border-right: var(--decorator-border);
  padding-top: var(--ah3nry-spacing-8);

  & > section:not(:last-child) {
    margin-bottom: var(--ah3nry-spacing-12);
  }
}

.body {
  grid-area: body;
  padding-left: var(--ah3nry-spacing-8);
}

.list {
  padding: var(--ah3nry-spacing-8) 0 0 0;
  line-height: 2.3;

  &.socials > li {
    width: 24px;

    &:hover {
      opacity: var(--ah3nry-state-hover-state-layer-opacity);
    }
  }
}

.list > li,
.list a {
  color: var(--ah3nry-color-on-primary-container);
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: var(--ah3nry-spacing-10);
}

.my-8 {
  margin: var(--ah3nry-spacing-8) 0;
}

.my-6 {
  margin: var(--ah3nry-spacing-6) 0;
}

.mr-4 {
  margin-right: var(--ah3nry-spacing-4);
}

.pt-0 {
  padding-top: 0;
}

.pt-2 {
  padding-top: var(--ah3nry-spacing-2);
}

.pt-4 {
  padding-top: var(--ah3nry-spacing-4);
}

.pt-8 {
  padding-top: var(--ah3nry-spacing-8);
}

.pb-0\.5 {
  padding-bottom: var(--ah3nry-spacing-2);
}

.pb-1 {
  padding-bottom: var(--ah3nry-spacing-4);
}

.pb-2 {
  padding-bottom: var(--ah3nry-spacing-8);
}

.pb-2\.5 {
  padding-bottom: var(--ah3nry-spacing-10);
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.no-underline {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

address > a {
  color: var(--ah3nry-color-on-primary-container);
}

.btn-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: var(--ah3nry-spacing-2);
  color: var(--btn-bar-color);
}

.download-btn-container {
  width: 2rem;
  height: 2rem;

  &:hover {
    opacity: var(--ah3nry-state-hover-state-layer-opacity);
  }
}

.list-style-dash {
  list-style-type: '- ';
  list-style-position: outside;
}

@page {
  size: var(--page-width) var(--page-height);
  margin: 0 !important;
  scale: 84;
}

@media print {
  html {
    &[data-theme='dark'] {
      --ah3nry-color-primary: var(--ah3nry-color-primary-light);
      --ah3nry-color-on-primary: var(--ah3nry-color-on-primary-light);
      --ah3nry-color-primary-container: var(--ah3nry-color-primary-container-light);
      --ah3nry-color-on-primary-container: var(--ah3nry-color-on-primary-container-light);
      --ah3nry-color-primary-fixed: var(--ah3nry-color-primary-fixed-light);
      --ah3nry-color-on-primary-fixed: var(--ah3nry-color-on-primary-fixed-light);
      --ah3nry-color-primary-fixed-dim: var(--ah3nry-color-primary-fixed-dim-light);
      --ah3nry-color-on-primary-fixed-variant: var(--ah3nry-color-on-primary-fixed-variant-light);
      --ah3nry-color-secondary: var(--ah3nry-color-secondary-light);
      --ah3nry-color-on-secondary: var(--ah3nry-color-on-secondary-light);
      --ah3nry-color-secondary-container: var(--ah3nry-color-secondary-container-light);
      --ah3nry-color-on-secondary-container: var(--ah3nry-color-on-secondary-container-light);
      --ah3nry-color-secondary-fixed: var(--ah3nry-color-secondary-fixed-light);
      --ah3nry-color-on-secondary-fixed: var(--ah3nry-color-on-secondary-fixed-light);
      --ah3nry-color-secondary-fixed-dim: var(--ah3nry-color-secondary-fixed-dim-light);
      --ah3nry-color-on-secondary-fixed-variant: var(--ah3nry-color-on-secondary-fixed-variant-light);
      --ah3nry-color-tertiary: var(--ah3nry-color-tertiary-light);
      --ah3nry-color-on-tertiary: var(--ah3nry-color-on-tertiary-light);
      --ah3nry-color-tertiary-container: var(--ah3nry-color-tertiary-container-light);
      --ah3nry-color-on-tertiary-container: var(--ah3nry-color-on-tertiary-container-light);
      --ah3nry-color-tertiary-fixed: var(--ah3nry-color-tertiary-fixed-light);
      --ah3nry-color-on-tertiary-fixed: var(--ah3nry-color-on-tertiary-fixed-light);
      --ah3nry-color-tertiary-fixed-dim: var(--ah3nry-color-tertiary-fixed-dim-light);
      --ah3nry-color-on-tertiary-fixed-variant: var(--ah3nry-color-on-tertiary-fixed-variant-light);
      --ah3nry-color-error: var(--ah3nry-color-error-light);
      --ah3nry-color-on-error: var(--ah3nry-color-on-error-light);
      --ah3nry-color-error-container: var(--ah3nry-color-error-container-light);
      --ah3nry-color-on-error-container: var(--ah3nry-color-on-error-container-light);
      --ah3nry-color-outline: var(--ah3nry-color-outline-light);
      --ah3nry-color-background: var(--ah3nry-color-background-light);
      --ah3nry-color-on-background: var(--ah3nry-color-on-background-light);
      --ah3nry-color-surface: var(--ah3nry-color-surface-light);
      --ah3nry-color-on-surface: var(--ah3nry-color-on-surface-light);
      --ah3nry-color-surface-variant: var(--ah3nry-color-surface-variant-light);
      --ah3nry-color-on-surface-variant: var(--ah3nry-color-on-surface-variant-light);
      --ah3nry-color-inverse-surface: var(--ah3nry-color-inverse-surface-light);
      --ah3nry-color-inverse-on-surface: var(--ah3nry-color-inverse-on-surface-light);
      --ah3nry-color-inverse-primary: var(--ah3nry-color-inverse-primary-light);
      --ah3nry-color-shadow: var(--ah3nry-color-shadow-light);
      --ah3nry-color-surface-tint: var(--ah3nry-color-surface-tint-light);
      --ah3nry-color-outline-variant: var(--ah3nry-color-outline-variant-light);
      --ah3nry-color-scrim: var(--ah3nry-color-scrim-light);
      --ah3nry-color-surface-container-highest: var(--ah3nry-color-surface-container-highest-light);
      --ah3nry-color-surface-container-high: var(--ah3nry-color-surface-container-high-light);
      --ah3nry-color-surface-container: var(--ah3nry-color-surface-container-light);
      --ah3nry-color-surface-container-low: var(--ah3nry-color-surface-container-low-light);
      --ah3nry-color-surface-container-lowest: var(--ah3nry-color-surface-container-lowest-light);
      --ah3nry-color-surface-bright: var(--ah3nry-color-surface-bright-light);
      --ah3nry-color-surface-dim: var(--ah3nry-color-surface-dim-light);
    }
  }

  body {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  a:link:not(.no-print):after,
  a:visited:not(.no-print):after {
    content: '\a [' attr(href) '] ';
    white-space: pre;
    font-size: 0.7rem;
  }

  ul.socials {
    flex-direction: column;
    line-height: normal;

    & > li {
      margin-bottom: var(--ah3nry-spacing-6);
    }
  }

  .container {
    margin: 0;
  }

  .page {
    padding: 0rem 4rem;
    height: fit-content;
    width: fit-content;
  }

  .page1 {
    margin-bottom: 0;
    grid-template-rows: 0.2fr 1.8fr;
  }

  .page2 section:first-child {
    margin-top: var(--ah3nry-spacing-12);
  }

  .btn-container {
    visibility: hidden;
  }

  .page.elevation-3 {
    box-shadow: none;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --page-width: 100%;
  }
}

@media screen and (max-width: 860px) {
  .page {
    padding: var(--ah3nry-spacing-6);
  }
}
