body {
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  height: 100vh;
  /* display: grid; */
  /* overflow: hidden; */
}

.container {
  display: grid;
  /* width: 50vh; */
  /* background-size: contain;
    position: relative;
    z-index: 1;
    animation: spin 3s linear infinite; */
}

.album-cover {
  /* transform-origin: center 20%; */
  /* grid-column: 1;
  grid-row: 1; */
  filter: 'saturate(10) hue-rotate(55deg)';
  /* transform-origin: center 30%; */
  /* width: 100vw; */
}

.record-player-svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: 1;
  position: relative;
  top: 75px;
  left: 19px;
  /* display: none; */
}

.record-player-svg {
  width: 30vw;
}

#arm {
  transform-origin: top right;
  transform: rotate(-26deg);
  /* stroke: beige; */
  transform-box: fill-box;
}

.vinyl-container {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  transform-origin: center;
}

.vinyl {
  position: relative;
  transform-origin: center;
  /* max-width: 100%;
  max-height: 100%; */
  /* top: -400vh;
  left: -175vw; */
  width: 100%;
  /* transform: scale(28); */
}

.layer1,
.layer2 {
  grid-column: 1;
  grid-row: 1;
}

.rotating {
  transform-box: fill-box;
  transform-origin: center;
  /* animation: rotation 2s linear infinite; */
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
