@import url(../css/theme.css);

main {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  /* grid-template-columns: 1fr 0.001fr; */
  justify-content: center;
  align-items: center;
  background: var(--ah3nry-custom-color-accent2);
  background: radial-gradient(
    ellipse at center,
    var(--ah3nry-palette-neutral90) 0%,
    var(--ah3nry-palette-neutral95) 100%
  );
}

.poster-scene {
  grid-row: 1;
  grid-column: 1;
  /* width: 100vw; */
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.poster-container {
  grid-row: 1;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  position: sticky;
  top: 0;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1;
  grid-column: 1;
  background-color: var(--ah3nry-palette-primary30);
  /* transform-origin: top right; */
}

.content-container {
  grid-column: 2;
  max-width: 500px;
  margin: 0 auto;
  margin: var(--ah3nry-spacing-13) var(--ah3nry-spacing-8);
  opacity: 0;
  display: none;
  background-color: var(--ah3nry-palette-primary30);
  color: var(--ah3nry-color-on-primary-container-dark);
  position: fixed;
  right: 10vw;
  top: 1vh;
  /* top: 450px; */
}

.poster {
  grid-column: 1;
  grid-row: 1;
  width: 50vmin;
  height: 70vmin;
  margin: var(--ah3nry-spacing-8);
  /* background-color: var(--ah3nry-palette-neutral90); */
}

.poster-front {
  z-index: 99999;
}

.grid {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  gap: 0;
}

.block {
  --depth: 80px;
  width: 100%;
  height: 60%;
  position: relative;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 5vmin);
}

.block__side {
  display: grid;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  background: var(--ah3nry-palette-primary30);
  opacity: 0.8;
  border: 1px solid var(--ah3nry-palette-neutral80);
}

.block__side__content {
  justify-self: center;
  align-self: center;
  padding: var(--ah3nry-spacing-1);
}

.block > div:nth-of-type(1) {
  transform-origin: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.block > div:nth-of-type(2) {
  transform-origin: 50% 50%;
  transform: translate3d(0, 0, calc((var(--depth)) * -1));
  position: absolute;
}
.block > div:nth-of-type(3) {
  width: var(--depth);
  transform: translate(-50%, 0) rotateY(-90deg) translate3d(calc((var(--depth)) / -2), 0, 0);
  position: absolute;
}
.block > div:nth-of-type(4) {
  width: var(--depth);
  transform: translate(50%, 0) rotateY(-90deg) translate3d(calc((var(--depth)) / -2), 0, 0);
  position: absolute;
  right: 0;
}
.block > div:nth-of-type(5) {
  height: var(--depth);
  position: absolute;
  transform: translate(0%, -50%) rotateX(90deg) translate3d(0, calc((var(--depth) / -2)), 0);
}
.block > div:nth-of-type(6) {
  height: var(--depth);
  transform: translate(0, 50%) rotateX(90deg) translate3d(0, calc((var(--depth) / -2)), 0);
  position: absolute;
  bottom: 0;
}

.col-1 {
  grid-column: 1/16;
}
.col-2 {
  grid-column: 16/24;
}
.col-3 {
  grid-column: 24/28;
}
.col-4 {
  grid-column: 28/30;
}
.col-5 {
  grid-column: 30/31;
}

div[class^='col-'],
*[id^='poster-'] {
  transform-style: preserve-3d;
}
