@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lora:300,300i,400,400i,700");
@import url(../css/theme.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lora, sans-serif;
}
.global-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--ah3nry-spacing-12);
  z-index: 2;
  /* backdrop-filter: saturate(180%) blur(20px); */
  /* background: rgba(251,251,253,0.8); */
  background-color: #fff;
}
.section {
  align-items: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}
.section--offwhite {
  background: #FBFBFB;
}
.section--gradient {
  background: #7cf1ec;
  background: linear-gradient(90deg, #7cf1ec 0%, #62ffd8 100%);
}
.section h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 75px;
}
.section p {
  color: #535353;
  font-size: 26px;
  line-height: 1.6;
  max-width: 900px;
}
.pinned-image {
  color: white;
  display: flex;
  margin-top: 64px;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.pinned-image--small {
  height: 65vh;
}
.pinned-image--light {
  color: #19192a;
}
.pinned-image--light .pinned-image__container-overlay {
  background: rgba(255, 255, 255, 0.5);
}
.pinned-image__container {
  transform-origin: center 20%;
  /* margin-top: 64px; */
  position: relative;
  /* top: 0; */
  /* transform: scale(1); */
  /* width: 100vw; */
  /* height: auto; */
}
.pinned-image__container-overlay {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.pinned-image__container-overlay--gradient {
  background: rgba(206, 112, 222, 0.7);
  background: linear-gradient(90deg, #ce70de 0%, rgba(255, 98, 141, 0.7) 100%);
}
.pinned-image__container img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  width: 100%;
}
.pinned-image__quote {
  font-weight: 300;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.pinned-image__quote blockquote {
  margin-bottom: 75px;
}
.pinned-image__quote blockquote p {
  font-size: 26px;
  font-style: italic;
  line-height: 1.6;
  max-width: 800px;
}
.pinned-image__quote blockquote p:before {
  content: “;
}
.pinned-image__quote blockquote p:after {
  content: ”;
}
.pinned-image__quote-author {
  font-size: 32px;
  font-weight: 700;
}
.pinned-image__quote-role {
  font-size: 18px;
  letter-spacing: 1px;
  margin-left: 20px;
  text-transform: uppercase;
}

.pinned-image__container video {
  width: 100vw;
}