.primary {
  background-color: var(--ah3nry-color-primary);
}
.primary-text {
  color: var(--ah3nry-color-primary);
}
.on-primary {
  background-color: var(--ah3nry-color-on-primary);
}
.on-primary-text {
  color: var(--ah3nry-color-on-primary);
}
.primary-container {
  background-color: var(--ah3nry-color-primary-container);
}
.primary-container-text {
  color: var(--ah3nry-color-primary-container);
}
.on-primary-container {
  background-color: var(--ah3nry-color-on-primary-container);
}
.on-primary-container-text {
  color: var(--ah3nry-color-on-primary-container);
}
.primary-fixed {
  background-color: var(--ah3nry-color-primary-fixed);
}
.primary-fixed-text {
  color: var(--ah3nry-color-primary-fixed);
}
.on-primary-fixed {
  background-color: var(--ah3nry-color-on-primary-fixed);
}
.on-primary-fixed-text {
  color: var(--ah3nry-color-on-primary-fixed);
}
.primary-fixed-dim {
  background-color: var(--ah3nry-color-primary-fixed-dim);
}
.primary-fixed-dim-text {
  color: var(--ah3nry-color-primary-fixed-dim);
}
.on-primary-fixed-variant {
  background-color: var(--ah3nry-color-on-primary-fixed-variant);
}
.on-primary-fixed-variant-text {
  color: var(--ah3nry-color-on-primary-fixed-variant);
}
.secondary {
  background-color: var(--ah3nry-color-secondary);
}
.secondary-text {
  color: var(--ah3nry-color-secondary);
}
.on-secondary {
  background-color: var(--ah3nry-color-on-secondary);
}
.on-secondary-text {
  color: var(--ah3nry-color-on-secondary);
}
.secondary-container {
  background-color: var(--ah3nry-color-secondary-container);
}
.secondary-container-text {
  color: var(--ah3nry-color-secondary-container);
}
.on-secondary-container {
  background-color: var(--ah3nry-color-on-secondary-container);
}
.on-secondary-container-text {
  color: var(--ah3nry-color-on-secondary-container);
}
.secondary-fixed {
  background-color: var(--ah3nry-color-secondary-fixed);
}
.secondary-fixed-text {
  color: var(--ah3nry-color-secondary-fixed);
}
.on-secondary-fixed {
  background-color: var(--ah3nry-color-on-secondary-fixed);
}
.on-secondary-fixed-text {
  color: var(--ah3nry-color-on-secondary-fixed);
}
.secondary-fixed-dim {
  background-color: var(--ah3nry-color-secondary-fixed-dim);
}
.secondary-fixed-dim-text {
  color: var(--ah3nry-color-secondary-fixed-dim);
}
.on-secondary-fixed-variant {
  background-color: var(--ah3nry-color-on-secondary-fixed-variant);
}
.on-secondary-fixed-variant-text {
  color: var(--ah3nry-color-on-secondary-fixed-variant);
}
.tertiary {
  background-color: var(--ah3nry-color-tertiary);
}
.tertiary-text {
  color: var(--ah3nry-color-tertiary);
}
.on-tertiary {
  background-color: var(--ah3nry-color-on-tertiary);
}
.on-tertiary-text {
  color: var(--ah3nry-color-on-tertiary);
}
.tertiary-container {
  background-color: var(--ah3nry-color-tertiary-container);
}
.tertiary-container-text {
  color: var(--ah3nry-color-tertiary-container);
}
.on-tertiary-container {
  background-color: var(--ah3nry-color-on-tertiary-container);
}
.on-tertiary-container-text {
  color: var(--ah3nry-color-on-tertiary-container);
}
.tertiary-fixed {
  background-color: var(--ah3nry-color-tertiary-fixed);
}
.tertiary-fixed-text {
  color: var(--ah3nry-color-tertiary-fixed);
}
.on-tertiary-fixed {
  background-color: var(--ah3nry-color-on-tertiary-fixed);
}
.on-tertiary-fixed-text {
  color: var(--ah3nry-color-on-tertiary-fixed);
}
.tertiary-fixed-dim {
  background-color: var(--ah3nry-color-tertiary-fixed-dim);
}
.tertiary-fixed-dim-text {
  color: var(--ah3nry-color-tertiary-fixed-dim);
}
.on-tertiary-fixed-variant {
  background-color: var(--ah3nry-color-on-tertiary-fixed-variant);
}
.on-tertiary-fixed-variant-text {
  color: var(--ah3nry-color-on-tertiary-fixed-variant);
}
.error {
  background-color: var(--ah3nry-color-error);
}
.error-text {
  color: var(--ah3nry-color-error);
}
.on-error {
  background-color: var(--ah3nry-color-on-error);
}
.on-error-text {
  color: var(--ah3nry-color-on-error);
}
.error-container {
  background-color: var(--ah3nry-color-error-container);
}
.error-container-text {
  color: var(--ah3nry-color-error-container);
}
.on-error-container {
  background-color: var(--ah3nry-color-on-error-container);
}
.on-error-container-text {
  color: var(--ah3nry-color-on-error-container);
}
.outline {
  background-color: var(--ah3nry-color-outline);
}
.outline-text {
  color: var(--ah3nry-color-outline);
}
.background {
  background-color: var(--ah3nry-color-background);
}
.background-text {
  color: var(--ah3nry-color-background);
}
.on-background {
  background-color: var(--ah3nry-color-on-background);
}
.on-background-text {
  color: var(--ah3nry-color-on-background);
}
.surface {
  background-color: var(--ah3nry-color-surface);
}
.surface-text {
  color: var(--ah3nry-color-surface);
}
.on-surface {
  background-color: var(--ah3nry-color-on-surface);
}
.on-surface-text {
  color: var(--ah3nry-color-on-surface);
}
.surface-variant {
  background-color: var(--ah3nry-color-surface-variant);
}
.surface-variant-text {
  color: var(--ah3nry-color-surface-variant);
}
.on-surface-variant {
  background-color: var(--ah3nry-color-on-surface-variant);
}
.on-surface-variant-text {
  color: var(--ah3nry-color-on-surface-variant);
}
.inverse-surface {
  background-color: var(--ah3nry-color-inverse-surface);
}
.inverse-surface-text {
  color: var(--ah3nry-color-inverse-surface);
}
.inverse-on-surface {
  background-color: var(--ah3nry-color-inverse-on-surface);
}
.inverse-on-surface-text {
  color: var(--ah3nry-color-inverse-on-surface);
}
.inverse-primary {
  background-color: var(--ah3nry-color-inverse-primary);
}
.inverse-primary-text {
  color: var(--ah3nry-color-inverse-primary);
}
.shadow {
  background-color: var(--ah3nry-color-shadow);
}
.shadow-text {
  color: var(--ah3nry-color-shadow);
}
.surface-tint {
  background-color: var(--ah3nry-color-surface-tint);
}
.surface-tint-text {
  color: var(--ah3nry-color-surface-tint);
}
.outline-variant {
  background-color: var(--ah3nry-color-outline-variant);
}
.outline-variant-text {
  color: var(--ah3nry-color-outline-variant);
}
.scrim {
  background-color: var(--ah3nry-color-scrim);
}
.scrim-text {
  color: var(--ah3nry-color-scrim);
}
.surface-container-highest {
  background-color: var(--ah3nry-color-surface-container-highest);
}
.surface-container-highest-text {
  color: var(--ah3nry-color-surface-container-highest);
}
.surface-container-high {
  background-color: var(--ah3nry-color-surface-container-high);
}
.surface-container-high-text {
  color: var(--ah3nry-color-surface-container-high);
}
.surface-container {
  background-color: var(--ah3nry-color-surface-container);
}
.surface-container-text {
  color: var(--ah3nry-color-surface-container);
}
.surface-container-low {
  background-color: var(--ah3nry-color-surface-container-low);
}
.surface-container-low-text {
  color: var(--ah3nry-color-surface-container-low);
}
.surface-container-lowest {
  background-color: var(--ah3nry-color-surface-container-lowest);
}
.surface-container-lowest-text {
  color: var(--ah3nry-color-surface-container-lowest);
}
.surface-bright {
  background-color: var(--ah3nry-color-surface-bright);
}
.surface-bright-text {
  color: var(--ah3nry-color-surface-bright);
}
.surface-dim {
  background-color: var(--ah3nry-color-surface-dim);
}
.surface-dim-text {
  color: var(--ah3nry-color-surface-dim);
}
