:root {
  /* +5 */
  --ah3nry-elevation-level5-value: 12px;
  --ah3nry-elevation-level5-unit: 1px;
  --ah3nry-elevation-level5: 12px;
  /* +4 */
  --ah3nry-elevation-level4-value: 8px;
  --ah3nry-elevation-level4-unit: 1px;
  --ah3nry-elevation-level4: 8px;
  /* +3 */
  --ah3nry-elevation-level3-value: 6px;
  --ah3nry-elevation-level3-unit: 1px;
  --ah3nry-elevation-level3: 6px;
  /* +2 */
  --ah3nry-elevation-level2-value: 3px;
  --ah3nry-elevation-level2-unit: 1px;
  --ah3nry-elevation-level2: 3px;
  /* +1 */
  --ah3nry-elevation-level1-value: 1px;
  --ah3nry-elevation-level1-unit: 1px;
  --ah3nry-elevation-level1: 1px;
  /* 0 */
  --ah3nry-elevation-level0-value: 0px;
  --ah3nry-elevation-level0-unit: 1px;
  --ah3nry-elevation-level0: 0px;
}
.elevation-0 {
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.14) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.12) 0px 0px 0px 0px;
}
.elevation-1 {
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.elevation-2 {
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}
.elevation-3 {
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}
.elevation-4 {
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
    rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
    rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}
.elevation-5 {
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 7px 8px -4px,
    rgba(0, 0, 0, 0.14) 0px 12px 17px 2px,
    rgba(0, 0, 0, 0.12) 0px 5px 22px 4px;
}
