:root {
  /* Fully rounded */
  --ah3nry-shape-corner-full-family: 3px;
  /* Extra large top rounding */
  --ah3nry-shape-corner-extra-large-top-family: 1px;
  --ah3nry-shape-corner-extra-large-top-default-size: 0px;
  --ah3nry-shape-corner-extra-large-top-top-left: 28px;
  --ah3nry-shape-corner-extra-large-top-top-right-unit: 1px;
  --ah3nry-shape-corner-extra-large-top-top-right: 28px;
  /* Extra large rounding */
  --ah3nry-shape-corner-extra-large-family: 1px;
  --ah3nry-shape-corner-extra-large-default-size-unit: 1px;
  --ah3nry-shape-corner-extra-large-default-size: 28px;
  /* Large top rounding */
  --ah3nry-shape-corner-large-top-family: 1px;
  --ah3nry-shape-corner-large-top-default-size-unit: 1px;
  --ah3nry-shape-corner-large-top-default-size: 0px;
  --ah3nry-shape-corner-large-top-top-left-unit: 1px;
  --ah3nry-shape-corner-large-top-top-left: 16px;
  --ah3nry-shape-corner-large-top-top-right-unit: 1px;
  --ah3nry-shape-corner-large-top-top-right: 16px;
  /* Large end rounding */
  --ah3nry-shape-corner-large-end-family: 1px;
  --ah3nry-shape-corner-large-end-default-size-unit: 1px;
  --ah3nry-shape-corner-large-end-default-size: 0px;
  --ah3nry-shape-corner-large-end-top-right-unit: 1px;
  --ah3nry-shape-corner-large-end-top-right: 16px;
  --ah3nry-shape-corner-large-end-bottom-right-unit: 1px;
  --ah3nry-shape-corner-large-end-bottom-right: 16px;
  /* Large rounding */
  --ah3nry-shape-corner-large-family: 1px;
  --ah3nry-shape-corner-large-default-size-unit: 1px;
  --ah3nry-shape-corner-large-default-size: 16px;
  /* Medium rounding */
  --ah3nry-shape-corner-medium-family: 1px;
  --ah3nry-shape-corner-medium-default-size-unit: 1px;
  --ah3nry-shape-corner-medium-default-size: 12px;
  /* Small rounding */
  --ah3nry-shape-corner-small-family: 1px;
  --ah3nry-shape-corner-small-default-size-unit: 1px;
  --ah3nry-shape-corner-small-default-size: 0.5rem;
  /* Extra small top rounding */
  --ah3nry-shape-corner-extra-small-top-family: 1px;
  --ah3nry-shape-corner-extra-small-top-default-size-unit: 1px;
  --ah3nry-shape-corner-extra-small-top-default-size: 0px;
  --ah3nry-shape-corner-extra-small-top-top-left-unit: 1px;
  --ah3nry-shape-corner-extra-small-top-top-left: 4px;
  --ah3nry-shape-corner-extra-small-top-top-right-unit: 1px;
  --ah3nry-shape-corner-extra-small-top-top-right: 4px;
  /* Extra small rounding */
  --ah3nry-shape-corner-extra-small-family: 1px;
  --ah3nry-shape-corner-extra-small-default-size-unit: 1px;
  --ah3nry-shape-corner-extra-small-default-size: 4px;
  /* No rounding */
  --ah3nry-shape-corner-none-family: 1px;
  --ah3nry-shape-corner-none-default-size-unit: 1px;
  --ah3nry-shape-corner-none-default-size: 0px;

  --ah3nry-shape-small: var(--ah3nry-shape-corner-small-default-size);
  --ah3nry-shape-medium: var(--ah3nry-shape-corner-medium-default-size);
  --ah3nry-shape-large: var(--ah3nry-shape-corner-large-default-size);
}

.shape-none {
  border-radius: var(--ah3nry-shape-corner-none-default-size);
}
.shape-extra-small {
  border-radius: var(--ah3nry-shape-corner-extra-small-default-size);
}
.shape-small {
  border-radius: var(--ah3nry-shape-corner-small-default-size);
}
.shape-medium {
  border-radius: var(--ah3nry-shape-corner-medium-default-size);
}
.shape-large {
  border-radius: var(--ah3nry-shape-corner-large-default-size);
}
.shape-extra-large {
  border-radius: var(--ah3nry-shape-corner-extra-large-default-size);
}
.extra-small-top {
  border-top-left-radius: var(--ah3nry-shape-corner-extra-small-top-top-left);
  border-top-right-radius: var(--ah3nry-shape-corner-extra-small-top-top-right);
}
.large-end {
  border-top-right-radius: var(--ah3nry-shape-corner-large-end-top-right);
  border-bottom-right-radius: var(--ah3nry-shape-corner-large-end-bottom-right);
}
.large-top {
  border-top-left-radius: var(--ah3nry-shape-corner-large-top-top-left);
  border-top-right-radius: var(--ah3nry-shape-corner-large-top-top-right);
}
.extra-large-top {
  border-top-left-radius: var(--ah3nry-shape-corner-extra-large-top-top-left);
  border-top-right-radius: var(--ah3nry-shape-corner-extra-large-top-top-right);
}
