:root {
  /* Dragged state layer opacity */
  --ah3nry-state-dragged-state-layer-opacity: 0.16;
  /* Pressed state layer opacity */
  --ah3nry-state-pressed-state-layer-opacity: 0.12;
  /* Focus state layer opacity */
  --ah3nry-state-focus-state-layer-opacity: 0.12;
  /* Hover state layer opacity */
  --ah3nry-state-hover-state-layer-opacity: 0.7;
}
.hover-state-layer {
  opacity: var(--ah3nry-state-hover-state-layer-opacity);
}
.pressed-state-layer {
  opacity: var(--ah3nry-state-pressed-state-layer-opacity);
}
.dragged-state-layer {
  opacity: var(--ah3nry-state-dragged-state-layer-opacity);
}
.focus-state-layer {
  opacity: var(--ah3nry-state-focus-state-layer-opacity);
}
