:root {
 --ah3nry-color-primary: var(--ah3nry-color-primary-dark);
 --ah3nry-color-on-primary: var(--ah3nry-color-on-primary-dark);
 --ah3nry-color-primary-container: var(--ah3nry-color-primary-container-dark);
 --ah3nry-color-on-primary-container: var(--ah3nry-color-on-primary-container-dark);
 --ah3nry-color-primary-fixed: var(--ah3nry-color-primary-fixed-dark);
 --ah3nry-color-on-primary-fixed: var(--ah3nry-color-on-primary-fixed-dark);
 --ah3nry-color-primary-fixed-dim: var(--ah3nry-color-primary-fixed-dim-dark);
 --ah3nry-color-on-primary-fixed-variant: var(--ah3nry-color-on-primary-fixed-variant-dark);
 --ah3nry-color-secondary: var(--ah3nry-color-secondary-dark);
 --ah3nry-color-on-secondary: var(--ah3nry-color-on-secondary-dark);
 --ah3nry-color-secondary-container: var(--ah3nry-color-secondary-container-dark);
 --ah3nry-color-on-secondary-container: var(--ah3nry-color-on-secondary-container-dark);
 --ah3nry-color-secondary-fixed: var(--ah3nry-color-secondary-fixed-dark);
 --ah3nry-color-on-secondary-fixed: var(--ah3nry-color-on-secondary-fixed-dark);
 --ah3nry-color-secondary-fixed-dim: var(--ah3nry-color-secondary-fixed-dim-dark);
 --ah3nry-color-on-secondary-fixed-variant: var(--ah3nry-color-on-secondary-fixed-variant-dark);
 --ah3nry-color-tertiary: var(--ah3nry-color-tertiary-dark);
 --ah3nry-color-on-tertiary: var(--ah3nry-color-on-tertiary-dark);
 --ah3nry-color-tertiary-container: var(--ah3nry-color-tertiary-container-dark);
 --ah3nry-color-on-tertiary-container: var(--ah3nry-color-on-tertiary-container-dark);
 --ah3nry-color-tertiary-fixed: var(--ah3nry-color-tertiary-fixed-dark);
 --ah3nry-color-on-tertiary-fixed: var(--ah3nry-color-on-tertiary-fixed-dark);
 --ah3nry-color-tertiary-fixed-dim: var(--ah3nry-color-tertiary-fixed-dim-dark);
 --ah3nry-color-on-tertiary-fixed-variant: var(--ah3nry-color-on-tertiary-fixed-variant-dark);
 --ah3nry-color-error: var(--ah3nry-color-error-dark);
 --ah3nry-color-on-error: var(--ah3nry-color-on-error-dark);
 --ah3nry-color-error-container: var(--ah3nry-color-error-container-dark);
 --ah3nry-color-on-error-container: var(--ah3nry-color-on-error-container-dark);
 --ah3nry-color-outline: var(--ah3nry-color-outline-dark);
 --ah3nry-color-background: var(--ah3nry-color-background-dark);
 --ah3nry-color-on-background: var(--ah3nry-color-on-background-dark);
 --ah3nry-color-surface: var(--ah3nry-color-surface-dark);
 --ah3nry-color-on-surface: var(--ah3nry-color-on-surface-dark);
 --ah3nry-color-surface-variant: var(--ah3nry-color-surface-variant-dark);
 --ah3nry-color-on-surface-variant: var(--ah3nry-color-on-surface-variant-dark);
 --ah3nry-color-inverse-surface: var(--ah3nry-color-inverse-surface-dark);
 --ah3nry-color-inverse-on-surface: var(--ah3nry-color-inverse-on-surface-dark);
 --ah3nry-color-inverse-primary: var(--ah3nry-color-inverse-primary-dark);
 --ah3nry-color-shadow: var(--ah3nry-color-shadow-dark);
 --ah3nry-color-surface-tint: var(--ah3nry-color-surface-tint-dark);
 --ah3nry-color-outline-variant: var(--ah3nry-color-outline-variant-dark);
 --ah3nry-color-scrim: var(--ah3nry-color-scrim-dark);
 --ah3nry-color-surface-container-highest: var(--ah3nry-color-surface-container-highest-dark);
 --ah3nry-color-surface-container-high: var(--ah3nry-color-surface-container-high-dark);
 --ah3nry-color-surface-container: var(--ah3nry-color-surface-container-dark);
 --ah3nry-color-surface-container-low: var(--ah3nry-color-surface-container-low-dark);
 --ah3nry-color-surface-container-lowest: var(--ah3nry-color-surface-container-lowest-dark);
 --ah3nry-color-surface-bright: var(--ah3nry-color-surface-bright-dark);
 --ah3nry-color-surface-dim: var(--ah3nry-color-surface-dim-dark);
}
