:root {
  --ah3nry-color-primary: var(--ah3nry-color-primary-light);
  --ah3nry-color-on-primary: var(--ah3nry-color-on-primary-light);
  --ah3nry-color-primary-container: var(--ah3nry-color-primary-container-light);
  --ah3nry-color-on-primary-container: var(--ah3nry-color-on-primary-container-light);
  --ah3nry-color-primary-fixed: var(--ah3nry-color-primary-fixed-light);
  --ah3nry-color-on-primary-fixed: var(--ah3nry-color-on-primary-fixed-light);
  --ah3nry-color-primary-fixed-dim: var(--ah3nry-color-primary-fixed-dim-light);
  --ah3nry-color-on-primary-fixed-variant: var(--ah3nry-color-on-primary-fixed-variant-light);
  --ah3nry-color-secondary: var(--ah3nry-color-secondary-light);
  --ah3nry-color-on-secondary: var(--ah3nry-color-on-secondary-light);
  --ah3nry-color-secondary-container: var(--ah3nry-color-secondary-container-light);
  --ah3nry-color-on-secondary-container: var(--ah3nry-color-on-secondary-container-light);
  --ah3nry-color-secondary-fixed: var(--ah3nry-color-secondary-fixed-light);
  --ah3nry-color-on-secondary-fixed: var(--ah3nry-color-on-secondary-fixed-light);
  --ah3nry-color-secondary-fixed-dim: var(--ah3nry-color-secondary-fixed-dim-light);
  --ah3nry-color-on-secondary-fixed-variant: var(--ah3nry-color-on-secondary-fixed-variant-light);
  --ah3nry-color-tertiary: var(--ah3nry-color-tertiary-light);
  --ah3nry-color-on-tertiary: var(--ah3nry-color-on-tertiary-light);
  --ah3nry-color-tertiary-container: var(--ah3nry-color-tertiary-container-light);
  --ah3nry-color-on-tertiary-container: var(--ah3nry-color-on-tertiary-container-light);
  --ah3nry-color-tertiary-fixed: var(--ah3nry-color-tertiary-fixed-light);
  --ah3nry-color-on-tertiary-fixed: var(--ah3nry-color-on-tertiary-fixed-light);
  --ah3nry-color-tertiary-fixed-dim: var(--ah3nry-color-tertiary-fixed-dim-light);
  --ah3nry-color-on-tertiary-fixed-variant: var(--ah3nry-color-on-tertiary-fixed-variant-light);
  --ah3nry-color-error: var(--ah3nry-color-error-light);
  --ah3nry-color-on-error: var(--ah3nry-color-on-error-light);
  --ah3nry-color-error-container: var(--ah3nry-color-error-container-light);
  --ah3nry-color-on-error-container: var(--ah3nry-color-on-error-container-light);
  --ah3nry-color-outline: var(--ah3nry-color-outline-light);
  --ah3nry-color-background: var(--ah3nry-color-background-light);
  --ah3nry-color-on-background: var(--ah3nry-color-on-background-light);
  --ah3nry-color-surface: var(--ah3nry-color-surface-light);
  --ah3nry-color-on-surface: var(--ah3nry-color-on-surface-light);
  --ah3nry-color-surface-variant: var(--ah3nry-color-surface-variant-light);
  --ah3nry-color-on-surface-variant: var(--ah3nry-color-on-surface-variant-light);
  --ah3nry-color-inverse-surface: var(--ah3nry-color-inverse-surface-light);
  --ah3nry-color-inverse-on-surface: var(--ah3nry-color-inverse-on-surface-light);
  --ah3nry-color-inverse-primary: var(--ah3nry-color-inverse-primary-light);
  --ah3nry-color-shadow: var(--ah3nry-color-shadow-light);
  --ah3nry-color-surface-tint: var(--ah3nry-color-surface-tint-light);
  --ah3nry-color-outline-variant: var(--ah3nry-color-outline-variant-light);
  --ah3nry-color-scrim: var(--ah3nry-color-scrim-light);
  --ah3nry-color-surface-container-highest: var(--ah3nry-color-surface-container-highest-light);
  --ah3nry-color-surface-container-high: var(--ah3nry-color-surface-container-high-light);
  --ah3nry-color-surface-container: var(--ah3nry-color-surface-container-light);
  --ah3nry-color-surface-container-low: var(--ah3nry-color-surface-container-low-light);
  --ah3nry-color-surface-container-lowest: var(--ah3nry-color-surface-container-lowest-light);
  --ah3nry-color-surface-bright: var(--ah3nry-color-surface-bright-light);
  --ah3nry-color-surface-dim: var(--ah3nry-color-surface-dim-light);
}
