@import 'font.css';

:root {
  --ah3nry-source: #c7ddff;
  /* primary */
  --ah3nry-palette-primary0: #000000;
  --ah3nry-palette-primary10: #001c38;
  --ah3nry-palette-primary20: #00315b;
  --ah3nry-palette-primary30: #10487c;
  --ah3nry-palette-primary40: #316096;
  --ah3nry-palette-primary50: #4c79b0;
  --ah3nry-palette-primary60: #6793cc;
  --ah3nry-palette-primary70: #81aee8;
  --ah3nry-palette-primary80: #a2c9ff;
  --ah3nry-palette-primary90: #d3e4ff;
  --ah3nry-palette-primary95: #eaf1ff;
  --ah3nry-palette-primary98: #f8f9ff;
  --ah3nry-palette-primary100: #ffffff;
  /* secondary */
  --ah3nry-palette-secondary0: #000000;
  --ah3nry-palette-secondary10: #111c2b;
  --ah3nry-palette-secondary20: #263141;
  --ah3nry-palette-secondary30: #3c4758;
  --ah3nry-palette-secondary40: #545f70;
  --ah3nry-palette-secondary50: #6c788a;
  --ah3nry-palette-secondary60: #8691a4;
  --ah3nry-palette-secondary70: #a0acbf;
  --ah3nry-palette-secondary80: #bbc7db;
  --ah3nry-palette-secondary90: #d7e3f8;
  --ah3nry-palette-secondary95: #eaf1ff;
  --ah3nry-palette-secondary98: #f8f9ff;
  --ah3nry-palette-secondary100: #ffffff;
  /* tertiary */
  --ah3nry-palette-tertiary0: #000000;
  --ah3nry-palette-tertiary10: #261431;
  --ah3nry-palette-tertiary20: #3c2947;
  --ah3nry-palette-tertiary30: #543f5e;
  --ah3nry-palette-tertiary40: #6c5677;
  --ah3nry-palette-tertiary50: #866f91;
  --ah3nry-palette-tertiary60: #a188ac;
  --ah3nry-palette-tertiary70: #bca2c7;
  --ah3nry-palette-tertiary80: #d8bde3;
  --ah3nry-palette-tertiary90: #f5d9ff;
  --ah3nry-palette-tertiary95: #fcebff;
  --ah3nry-palette-tertiary98: #fff7fc;
  --ah3nry-palette-tertiary100: #ffffff;
  /* error */
  --ah3nry-palette-error0: #000000;
  --ah3nry-palette-error10: #410002;
  --ah3nry-palette-error20: #690005;
  --ah3nry-palette-error30: #93000a;
  --ah3nry-palette-error40: #ba1a1a;
  --ah3nry-palette-error50: #de3730;
  --ah3nry-palette-error60: #ff5449;
  --ah3nry-palette-error70: #ff897d;
  --ah3nry-palette-error80: #ffb4ab;
  --ah3nry-palette-error90: #ffdad6;
  --ah3nry-palette-error95: #ffedea;
  --ah3nry-palette-error98: #fff8f7;
  --ah3nry-palette-error100: #ffffff;
  /* neutral */
  --ah3nry-palette-neutral0: #000000;
  --ah3nry-palette-neutral10: #191c20;
  --ah3nry-palette-neutral20: #2e3035;
  --ah3nry-palette-neutral30: #44474c;
  --ah3nry-palette-neutral40: #5c5e64;
  --ah3nry-palette-neutral50: #75777d;
  --ah3nry-palette-neutral60: #8f9196;
  --ah3nry-palette-neutral70: #a9abb1;
  --ah3nry-palette-neutral80: #c5c6cc;
  --ah3nry-palette-neutral90: #e1e2e8;
  --ah3nry-palette-neutral95: #eff0f7;
  --ah3nry-palette-neutral98: #f8f9ff;
  --ah3nry-palette-neutral100: #ffffff;
  /* neutral-variant */
  --ah3nry-palette-neutral-variant0: #000000;
  --ah3nry-palette-neutral-variant10: #181c22;
  --ah3nry-palette-neutral-variant20: #2c3137;
  --ah3nry-palette-neutral-variant30: #43474e;
  --ah3nry-palette-neutral-variant40: #5a5e66;
  --ah3nry-palette-neutral-variant50: #73777f;
  --ah3nry-palette-neutral-variant60: #8d9199;
  --ah3nry-palette-neutral-variant70: #a8abb4;
  --ah3nry-palette-neutral-variant80: #c3c6cf;
  --ah3nry-palette-neutral-variant90: #dfe2eb;
  --ah3nry-palette-neutral-variant95: #eef1fa;
  --ah3nry-palette-neutral-variant98: #f8f9ff;
  --ah3nry-palette-neutral-variant100: #ffffff;
  /* light */
  --ah3nry-color-primary-light: #316096;
  --ah3nry-color-on-primary-light: #ffffff;
  --ah3nry-color-primary-container-light: #d3e4ff;
  --ah3nry-color-on-primary-container-light: #001c38;
  --ah3nry-color-primary-fixed-light: #d3e4ff;
  --ah3nry-color-on-primary-fixed-light: #001c38;
  --ah3nry-color-primary-fixed-dim-light: #a2c9ff;
  --ah3nry-color-on-primary-fixed-variant-light: #10487c;
  --ah3nry-color-secondary-light: #545f70;
  --ah3nry-color-on-secondary-light: #ffffff;
  --ah3nry-color-secondary-container-light: #d7e3f8;
  --ah3nry-color-on-secondary-container-light: #111c2b;
  --ah3nry-color-secondary-fixed-light: #d7e3f8;
  --ah3nry-color-on-secondary-fixed-light: #111c2b;
  --ah3nry-color-secondary-fixed-dim-light: #bbc7db;
  --ah3nry-color-on-secondary-fixed-variant-light: #3c4758;
  --ah3nry-color-tertiary-light: #6c5677;
  --ah3nry-color-on-tertiary-light: #ffffff;
  --ah3nry-color-tertiary-container-light: #f5d9ff;
  --ah3nry-color-on-tertiary-container-light: #261431;
  --ah3nry-color-tertiary-fixed-light: #f5d9ff;
  --ah3nry-color-on-tertiary-fixed-light: #261431;
  --ah3nry-color-tertiary-fixed-dim-light: #d8bde3;
  --ah3nry-color-on-tertiary-fixed-variant-light: #543f5e;
  --ah3nry-color-error-light: #ba1a1a;
  --ah3nry-color-on-error-light: #ffffff;
  --ah3nry-color-error-container-light: #ffdad6;
  --ah3nry-color-on-error-container-light: #410002;
  --ah3nry-color-outline-light: #71757d;
  --ah3nry-color-background-light: #f8f9ff;
  --ah3nry-color-on-background-light: #191c20;
  --ah3nry-color-surface-light: #f8f9ff;
  --ah3nry-color-on-surface-light: #191c20;
  --ah3nry-color-surface-variant-light: #dfe2eb;
  --ah3nry-color-on-surface-variant-light: #43474e;
  --ah3nry-color-inverse-surface-light: #2e3035;
  --ah3nry-color-inverse-on-surface-light: #eff0f7;
  --ah3nry-color-inverse-primary-light: #a2c9ff;
  --ah3nry-color-shadow-light: #000000;
  --ah3nry-color-surface-tint-light: #316096;
  --ah3nry-color-outline-variant-light: #c3c6cf;
  --ah3nry-color-scrim-light: #000000;
  --ah3nry-color-surface-container-highest-light: #e1e2e8;
  --ah3nry-color-surface-container-high-light: #e7e8ee;
  --ah3nry-color-surface-container-light: #ecedf4;
  --ah3nry-color-surface-container-low-light: #f2f3fa;
  --ah3nry-color-surface-container-lowest-light: #ffffff;
  --ah3nry-color-surface-bright-light: #f8f9ff;
  --ah3nry-color-surface-dim-light: #d8dae0;
  /* dark */
  --ah3nry-color-primary-dark: #a2c9ff;
  --ah3nry-color-on-primary-dark: #00315b;
  --ah3nry-color-primary-container-dark: #10487c;
  --ah3nry-color-on-primary-container-dark: #d3e4ff;
  --ah3nry-color-primary-fixed-dark: #d3e4ff;
  --ah3nry-color-on-primary-fixed-dark: #001c38;
  --ah3nry-color-primary-fixed-dim-dark: #a2c9ff;
  --ah3nry-color-on-primary-fixed-variant-dark: #10487c;
  --ah3nry-color-secondary-dark: #bbc7db;
  --ah3nry-color-on-secondary-dark: #263141;
  --ah3nry-color-secondary-container-dark: #3c4758;
  --ah3nry-color-on-secondary-container-dark: #d7e3f8;
  --ah3nry-color-secondary-fixed-dark: #d7e3f8;
  --ah3nry-color-on-secondary-fixed-dark: #111c2b;
  --ah3nry-color-secondary-fixed-dim-dark: #bbc7db;
  --ah3nry-color-on-secondary-fixed-variant-dark: #3c4758;
  --ah3nry-color-tertiary-dark: #d8bde3;
  --ah3nry-color-on-tertiary-dark: #3c2947;
  --ah3nry-color-tertiary-container-dark: #543f5e;
  --ah3nry-color-on-tertiary-container-dark: #f5d9ff;
  --ah3nry-color-tertiary-fixed-dark: #f5d9ff;
  --ah3nry-color-on-tertiary-fixed-dark: #261431;
  --ah3nry-color-tertiary-fixed-dim-dark: #d8bde3;
  --ah3nry-color-on-tertiary-fixed-variant-dark: #543f5e;
  --ah3nry-color-error-dark: #ffb4ab;
  --ah3nry-color-on-error-dark: #690005;
  --ah3nry-color-error-container-dark: #93000a;
  --ah3nry-color-on-error-container-dark: #ffdad6;
  --ah3nry-color-outline-dark: #71757d;
  --ah3nry-color-background-dark: #111418;
  --ah3nry-color-on-background-dark: #e1e2e8;
  --ah3nry-color-surface-dark: #111418;
  --ah3nry-color-on-surface-dark: #e1e2e8;
  --ah3nry-color-surface-variant-dark: #43474e;
  --ah3nry-color-on-surface-variant-dark: #c3c6cf;
  --ah3nry-color-inverse-surface-dark: #e1e2e8;
  --ah3nry-color-inverse-on-surface-dark: #2e3035;
  --ah3nry-color-inverse-primary-dark: #316096;
  --ah3nry-color-shadow-dark: #000000;
  --ah3nry-color-surface-tint-dark: #a2c9ff;
  --ah3nry-color-outline-variant-dark: #43474e;
  --ah3nry-color-scrim-dark: #000000;
  --ah3nry-color-surface-container-highest-dark: #32353a;
  --ah3nry-color-surface-container-high-dark: #272a2f;
  --ah3nry-color-surface-container-dark: #1d2024;
  --ah3nry-color-surface-container-low-dark: #191c20;
  --ah3nry-color-surface-container-lowest-dark: #0c0e13;
  --ah3nry-color-surface-bright-dark: #37393e;
  --ah3nry-color-surface-dim-dark: #111418;
  /* Custom Colors */
  --ah3nry-custom-color-accent1: #efc466;
  --ah3nry-custom-color-accent2: #f8d78f;

  /* ----- Display ----- */
  /* display - large */
  --ah3nry-typescale-display-large-font-family-name: Montserrat;
  --ah3nry-typescale-display-large-font-family-style: Regular;
  --ah3nry-typescale-display-large-font-weight: 400;
  --ah3nry-typescale-display-large-font-size: 64px;
  --ah3nry-typescale-display-large-line-height: 1.1;
  --ah3nry-typescale-display-large-letter-spacing: normal;
  /* display - medium */
  --ah3nry-typescale-display-medium-font-family-name: Montserrat;
  --ah3nry-typescale-display-medium-font-family-style: Regular;
  --ah3nry-typescale-display-medium-font-weight: 400;
  --ah3nry-typescale-display-medium-font-size: 45px;
  --ah3nry-typescale-display-medium-line-height: 1.4;
  --ah3nry-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --ah3nry-typescale-display-small-font-family-name: Montserrat;
  --ah3nry-typescale-display-small-font-family-style: Regular;
  --ah3nry-typescale-display-small-font-weight: 400;
  --ah3nry-typescale-display-small-font-size: 36px;
  --ah3nry-typescale-display-small-line-height: 1.4;
  --ah3nry-typescale-display-small-letter-spacing: 0px;

  /* ----- Headline ----- */
  /* headline - large */
  --ah3nry-typescale-headline-large-font-family-name: Montserrat;
  --ah3nry-typescale-headline-large-font-family-style: Regular;
  --ah3nry-typescale-headline-large-font-weight: 400;
  --ah3nry-typescale-headline-large-font-size: 32px;
  --ah3nry-typescale-headline-large-line-height: 1.4;
  --ah3nry-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --ah3nry-typescale-headline-medium-font-family-name: Montserrat;
  --ah3nry-typescale-headline-medium-font-family-style: Regular;
  --ah3nry-typescale-headline-medium-font-weight: 400;
  --ah3nry-typescale-headline-medium-font-size: 28px;
  --ah3nry-typescale-headline-medium-line-height: 1.4;
  --ah3nry-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --ah3nry-typescale-headline-small-font-family-name: Montserrat;
  --ah3nry-typescale-headline-small-font-family-style: Regular;
  --ah3nry-typescale-headline-small-font-weight: 500;
  --ah3nry-typescale-headline-small-font-size: 24px;
  --ah3nry-typescale-headline-small-line-height: 1.4;
  --ah3nry-typescale-headline-small-letter-spacing: 0.1rem;

  /* ----- Body ----- */
  /* body - large */
  --ah3nry-typescale-body-large-font-family-name: Montserrat;
  --ah3nry-typescale-body-large-font-family-style: Regular;
  --ah3nry-typescale-body-large-font-weight: 400;
  --ah3nry-typescale-body-large-font-size: 16px;
  --ah3nry-typescale-body-large-line-height: 1.4;
  --ah3nry-typescale-body-large-letter-spacing: 0px;
  /* body - medium */
  --ah3nry-typescale-body-medium-font-family-name: Montserrat;
  --ah3nry-typescale-body-medium-font-family-style: Regular;
  --ah3nry-typescale-body-medium-font-weight: 400;
  --ah3nry-typescale-body-medium-font-size: 14px;
  --ah3nry-typescale-body-medium-line-height: 1.4;
  --ah3nry-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --ah3nry-typescale-body-small-font-family-name: Montserrat;
  --ah3nry-typescale-body-small-font-family-style: Regular;
  --ah3nry-typescale-body-small-font-weight: 400;
  --ah3nry-typescale-body-small-font-size: 12px;
  --ah3nry-typescale-body-small-line-height: 1.4;
  --ah3nry-typescale-body-small-letter-spacing: 0.4px;

  /* ----- Label ----- */
  /* label - large */
  --ah3nry-typescale-label-large-font-family-name: Montserrat;
  --ah3nry-typescale-label-large-font-family-style: Medium;
  --ah3nry-typescale-label-large-font-weight: 500;
  --ah3nry-typescale-label-large-font-size: 14px;
  --ah3nry-typescale-label-large-line-height: 1.4;
  --ah3nry-typescale-label-large-letter-spacing: 0.1px;
  /* label - medium */
  --ah3nry-typescale-label-medium-font-family-name: Montserrat;
  --ah3nry-typescale-label-medium-font-family-style: Medium;
  --ah3nry-typescale-label-medium-font-weight: 500;
  --ah3nry-typescale-label-medium-font-size: 12px;
  --ah3nry-typescale-label-medium-line-height: 1.4;
  --ah3nry-typescale-label-medium-letter-spacing: 0.5px;
  /* label - small */
  --ah3nry-typescale-label-small-font-family-name: Montserrat;
  --ah3nry-typescale-label-small-font-family-style: Medium;
  --ah3nry-typescale-label-small-font-weight: 500;
  --ah3nry-typescale-label-small-font-size: 11px;
  --ah3nry-typescale-label-small-line-height: 1.4;
  --ah3nry-typescale-label-small-letter-spacing: 0.5px;

  /* ----- Title ----- */
  /* title - large */
  --ah3nry-typescale-title-large-font-family-name: Montserrat;
  --ah3nry-typescale-title-large-font-family-style: Regular;
  --ah3nry-typescale-title-large-font-weight: 400;
  --ah3nry-typescale-title-large-font-size: 22px;
  --ah3nry-typescale-title-large-line-height: 1.4;
  --ah3nry-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --ah3nry-typescale-title-medium-font-family-name: Montserrat;
  --ah3nry-typescale-title-medium-font-family-style: Medium;
  --ah3nry-typescale-title-medium-font-weight: 500;
  --ah3nry-typescale-title-medium-font-size: 16px;
  --ah3nry-typescale-title-medium-line-height: 1.4;
  --ah3nry-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --ah3nry-typescale-title-small-font-family-name: Montserrat;
  --ah3nry-typescale-title-small-font-family-style: Medium;
  --ah3nry-typescale-title-small-font-weight: 500;
  --ah3nry-typescale-title-small-font-size: 14px;
  --ah3nry-typescale-title-small-line-height: 1.4;
  --ah3nry-typescale-title-small-letter-spacing: 0.1px;
}
