.display-large {
  font-family: var(--ah3nry-typescale-display-large-font-family-name);
  font-style: var(--ah3nry-typescale-display-large-font-family-style);
  font-weight: var(--ah3nry-typescale-display-large-font-weight);
  font-size: var(--ah3nry-typescale-display-large-font-size);
  letter-spacing: var(--ah3nry-typescale-display-large-letter-spacing);
  line-height: var(--ah3nry-typescale-display-large-line-height);
}
.display-medium {
  font-family: var(--ah3nry-typescale-display-medium-font-family-name);
  font-style: var(--ah3nry-typescale-display-medium-font-family-style);
  font-weight: var(--ah3nry-typescale-display-medium-font-weight);
  font-size: var(--ah3nry-typescale-display-medium-font-size);
  letter-spacing: var(--ah3nry-typescale-display-medium-letter-spacing);
  line-height: var(--ah3nry-typescale-display-medium-line-height);
  text-decoration: var(--ah3nry-typescale-display-medium-text-decoration);
}
.display-small {
  font-family: var(--ah3nry-typescale-display-small-font-family-name);
  font-style: var(--ah3nry-typescale-display-small-font-family-style);
  font-weight: var(--ah3nry-typescale-display-small-font-weight);
  font-size: var(--ah3nry-typescale-display-small-font-size);
  letter-spacing: var(--ah3nry-typescale-display-small-letter-spacing);
  line-height: var(--ah3nry-typescale-display-small-line-height);
  text-decoration: var(--ah3nry-typescale-display-small-text-decoration);
}
.headline-large {
  font-family: var(--ah3nry-typescale-headline-large-font-family-name);
  font-style: var(--ah3nry-typescale-headline-large-font-family-style);
  font-weight: var(--ah3nry-typescale-headline-large-font-weight);
  font-size: var(--ah3nry-typescale-headline-large-font-size);
  letter-spacing: var(--ah3nry-typescale-headline-large-letter-spacing);
  line-height: var(--ah3nry-typescale-headline-large-line-height);
  text-decoration: var(--ah3nry-typescale-headline-large-text-decoration);
}
.headline-medium {
  font-family: var(--ah3nry-typescale-headline-medium-font-family-name);
  font-style: var(--ah3nry-typescale-headline-medium-font-family-style);
  font-weight: var(--ah3nry-typescale-headline-medium-font-weight);
  font-size: var(--ah3nry-typescale-headline-medium-font-size);
  letter-spacing: var(--ah3nry-typescale-headline-medium-letter-spacing);
  line-height: var(--ah3nry-typescale-headline-medium-line-height);
  text-decoration: var(--ah3nry-typescale-headline-medium-text-decoration);
}
.headline-small {
  font-family: var(--ah3nry-typescale-headline-small-font-family-name);
  font-style: var(--ah3nry-typescale-headline-small-font-family-style);
  font-weight: var(--ah3nry-typescale-headline-small-font-weight);
  font-size: var(--ah3nry-typescale-headline-small-font-size);
  letter-spacing: var(--ah3nry-typescale-headline-small-letter-spacing);
  line-height: var(--ah3nry-typescale-headline-small-line-height);
  text-decoration: var(--ah3nry-typescale-headline-small-text-decoration);
}
.body-large {
  font-family: var(--ah3nry-typescale-body-large-font-family-name);
  font-style: var(--ah3nry-typescale-body-large-font-family-style);
  font-weight: var(--ah3nry-typescale-body-large-font-weight);
  font-size: var(--ah3nry-typescale-body-large-font-size);
  letter-spacing: var(--ah3nry-typescale-body-large-letter-spacing);
  line-height: var(--ah3nry-typescale-body-large-line-height);
  text-decoration: var(--ah3nry-typescale-body-large-text-decoration);
}
.body-medium {
  font-family: var(--ah3nry-typescale-body-medium-font-family-name);
  font-style: var(--ah3nry-typescale-body-medium-font-family-style);
  font-weight: var(--ah3nry-typescale-body-medium-font-weight);
  font-size: var(--ah3nry-typescale-body-medium-font-size);
  letter-spacing: var(--ah3nry-typescale-body-medium-letter-spacing);
  line-height: var(--ah3nry-typescale-body-medium-line-height);
  text-decoration: var(--ah3nry-typescale-body-medium-text-decoration);
}
.body-small {
  font-family: var(--ah3nry-typescale-body-small-font-family-name);
  font-style: var(--ah3nry-typescale-body-small-font-family-style);
  font-weight: var(--ah3nry-typescale-body-small-font-weight);
  font-size: var(--ah3nry-typescale-body-small-font-size);
  letter-spacing: var(--ah3nry-typescale-body-small-letter-spacing);
  line-height: var(--ah3nry-typescale-body-small-line-height);
  text-decoration: var(--ah3nry-typescale-body-small-text-decoration);
}
.label-large {
  font-family: var(--ah3nry-typescale-label-large-font-family-name);
  font-style: var(--ah3nry-typescale-label-large-font-family-style);
  font-weight: var(--ah3nry-typescale-label-large-font-weight);
  font-size: var(--ah3nry-typescale-label-large-font-size);
  letter-spacing: var(--ah3nry-typescale-label-large-letter-spacing);
  line-height: var(--ah3nry-typescale-label-large-line-height);
  text-decoration: var(--ah3nry-typescale-label-large-text-decoration);
}
.label-medium {
  font-family: var(--ah3nry-typescale-label-medium-font-family-name);
  font-style: var(--ah3nry-typescale-label-medium-font-family-style);
  font-weight: var(--ah3nry-typescale-label-medium-font-weight);
  font-size: var(--ah3nry-typescale-label-medium-font-size);
  letter-spacing: var(--ah3nry-typescale-label-medium-letter-spacing);
  line-height: var(--ah3nry-typescale-label-medium-line-height);
  text-decoration: var(--ah3nry-typescale-label-medium-text-decoration);
}
.label-small {
  font-family: var(--ah3nry-typescale-label-small-font-family-name);
  font-style: var(--ah3nry-typescale-label-small-font-family-style);
  font-weight: var(--ah3nry-typescale-label-small-font-weight);
  font-size: var(--ah3nry-typescale-label-small-font-size);
  letter-spacing: var(--ah3nry-typescale-label-small-letter-spacing);
  line-height: var(--ah3nry-typescale-label-small-line-height);
  text-decoration: var(--ah3nry-typescale-label-small-text-decoration);
}
.title-large {
  font-family: var(--ah3nry-typescale-title-large-font-family-name);
  font-style: var(--ah3nry-typescale-title-large-font-family-style);
  font-weight: var(--ah3nry-typescale-title-large-font-weight);
  font-size: var(--ah3nry-typescale-title-large-font-size);
  letter-spacing: var(--ah3nry-typescale-title-large-letter-spacing);
  line-height: var(--ah3nry-typescale-title-large-line-height);
  text-decoration: var(--ah3nry-typescale-title-large-text-decoration);
}
.title-medium {
  font-family: var(--ah3nry-typescale-title-medium-font-family-name);
  font-style: var(--ah3nry-typescale-title-medium-font-family-style);
  font-weight: var(--ah3nry-typescale-title-medium-font-weight);
  font-size: var(--ah3nry-typescale-title-medium-font-size);
  letter-spacing: var(--ah3nry-typescale-title-medium-letter-spacing);
  line-height: var(--ah3nry-typescale-title-medium-line-height);
  text-decoration: var(--ah3nry-typescale-title-medium-text-decoration);
}
.title-small {
  font-family: var(--ah3nry-typescale-title-small-font-family-name);
  font-style: var(--ah3nry-typescale-title-small-font-family-style);
  font-weight: var(--ah3nry-typescale-title-small-font-weight);
  font-size: var(--ah3nry-typescale-title-small-font-size);
  letter-spacing: var(--ah3nry-typescale-title-small-letter-spacing);
  line-height: var(--ah3nry-typescale-title-small-line-height);
  text-decoration: var(--ah3nry-typescale-title-small-text-decoration);
}
